@import '_variables'

body
  margin: 0
  padding: 0
  font-size: 16px
  -webkit-font-smoothing: antialiased
  font-smoothing: antialiased
  font-family: font-stack
  color: #333

a 
  -webkit-transition: color .5s ease
  -moz-transition: color .5s ease
  transition: color .5s ease
      
.module
  padding: 20px 0

.module--gray
  padding: 20px 0
  background-color: #EEEEEE

for key, value in colors
  &.background--{key}
    background-color: value !important