.bottom-nav
  ul
    padding: 0
    overflow: hidden
    border-top: 1px #000 solid
    border-bottom: 1px #000 solid
    
  .bottom-nav__item
    list-style: none
    text-align: center
    float: left
    width: 20%
    
    a 
      display: block
      padding: 50px 0
      text-decoration: none
      color: #ee0b77
      font-style: italic
  
  .bottom-nav__item
    -webkit-transition: background-color .5s ease
    -moz-transition: background-color .5s ease
    transition: background-color .5s ease
    
  .bottom-nav__item:hover
    background-color: #eee
    a 
      color: #333