.featured-docs
  overflow: hidden
  padding: 0 40px
  
  .featured-docs__doc
    margin-bottom: 1em
    border-bottom: 3px solid #bebebe
    background: url(http://thoughtworks.fileburst.com/mythoughtworks/core-images/doc-corner.png) no-repeat #fff top right
    padding: 20px
    min-height: 220px
    position: relative
    
  ul
    padding: 0
    
    li
      list-style-type none
        
    a
      text-decoration: none
      color: #333
  
    .featured-docs__author
      position: absolute
      bottom: 0
      padding-bottom: 20px
      a 
        font-size: .75em
        img 
          border: none
          width: 22px 
          height: auto
          border-radius: 11px