.featured-items
  margin-top: -20px;
  .featured-items__item
    margin-top: 20px
    background-color: #ccc
    display: table
    height: 150px
    background-size: cover
    background-position:center center
    width: 100%
    
    a
      display: table-cell
      padding: 20px
      vertical-align: middle
      width: 100%
      color: white
      text-decoration: none
      text-align: center
      font-size: 1.125em
      font-weight: 900
      font-style: italic
    



