colors = {
  black: {bg: #000, font: rgba(255, 255, 255, .8)}
  red: {bg: #EE312D, font: #facbcb},
  tan: {bg: #A2785F, font: rgba(255, 255, 255, .8)},
  brown: {bg: #603C23, font: rgba(255, 255, 255, .8)},
  orange: {bg:#F88B25, font: rgba(255, 255, 255, .8)},
  lime: {bg: #BDBE21, font: rgba(255, 255, 255, .8)},
  mint: {bg: #82B97E, font: rgba(255, 255, 255, .8)},
  green: {bg: #00AB58, font: rgba(255, 255, 255, .8)},
  sky: {bg: #78CED6, font: rgba(255, 255, 255, .8)},
  teal: {bg: #00BCCE, font: rgba(255, 255, 255, .8)},
  blue: {bg: #0076C1, font: rgba(255, 255, 255, .8)},
  purple: {bg: #721F6A, font: rgba(255, 255, 255, .8)},
  pink: {bg: #F259A0, font: rgba(255, 255, 255, .8)},
  magenta: {bg: #B81957, font: rgba(255, 255, 255, .8)},
  grey: {bg: #808285, font: #000},
  eeeeee: {bg: #eee, font: #000},
  earth-lite: {bg: #FEE0C9, font: rgba(255, 255, 255, .8)},
  earth-mid: {bg: #F0BA95, font: rgba(255, 255, 255, .8)},
  earth-dark: {bg: #9E785F, font: rgba(255, 255, 255, .8)},
  earth-brown: {bg: #5E3E2A, font: rgba(255, 255, 255, .8)},
  yellow: {bg: #E1F450, font: rgba(255, 255, 255, .8)},
  light-green: {bg: #89B77F, font: rgba(255, 255, 255, .8)},
  lite-blue: {bg: #80C9D2, font: rgba(255, 255, 255, .8)},
  mid-blue: {bg: #26BDCF, font: rgba(255, 255, 255, .8)},
  dark-blue: {bg: #1A73BA, font: rgba(255, 255, 255, .8)}
}

/*
  black: #000,
  red: #EE312D,
  tan: #A2785F,
  brown: #603C23,
  orange: #F78F31,
  lime: #B5B935,
  mint: #82B97E,
  green: #11AA58,
  sky: #78CED6,
  teal: #00BCCE,
  blue: #0076C1,
  purple: #6A2569,
  pink: #EF5BA1,
  magenta: #B11C54,
  grey: #808285,
  eeeeee: #eee,
  earth-lite: #FEE0C9,
  earth-mid: #F0BA95,
  earth-dark: #9E785F,
  earth-brown: #5E3E2A,
  yellow: #E1F450,
  light-green: #89B77F,
  lite-blue: #80C9D2,
  mid-blue: #26BDCF,
  dark-blue: #1A73BA
  */
hover(val)
  if(val == rgba(255, 255, 255, .8))
    rgba(255, 255, 255, 1)
  else
    val
  
.featured-links
  ul
    padding: 0
  li 
    list-style: none
    display: inline-block
    margin-bottom: 1em
    
    div      
      a
        display: block
        color: #333333
        text-decoration: none
        background-color: #EEEEEE
        min-height: 45px
        vertical-align: top
        padding: 20px
        background-repeat: no-repeat
        background-position: right 0
        background-size: 18px
        
        &.text 
          background-image: url(https://thoughtworks.fileburst.com/mythoughtworks/core-images/icons/content-type-text-gray.png)
          
        &.video
          background-image: url(https://thoughtworks.fileburst.com/mythoughtworks/core-images/icons/content-type-video-gray.png)
          
        &.text-video
          background-image: url(https://thoughtworks.fileburst.com/mythoughtworks/core-images/icons/content-type-text-video-gray.png)
  &.dense
    .grid-cell-4
      width: 25%
    
    div 
      a
        padding: 10px
      
for key, value in colors
  .featured-links.background-{key}
    li 
      div
        a
          background-color: value.bg
          color: value.font
          if key == grey or key == eeeeee
            &.text 
              background-image: url(https://thoughtworks.fileburst.com/mythoughtworks/core-images/icons/content-type-text-gray.png)
              
            &.video
              background-image: url(https://thoughtworks.fileburst.com/mythoughtworks/core-images/icons/content-type-video-gray.png)
              
            &.text-video
              background-image: url(https://thoughtworks.fileburst.com/mythoughtworks/build/core-images/icons/content-type-text-video-gray.png)
          else
            &.text 
              background-image: url(https://thoughtworks.fileburst.com/mythoughtworks/core-images/icons/content-type-text-white.png)
              
            &.video
              background-image: url(https://thoughtworks.fileburst.com/mythoughtworks/core-images/icons/content-type-video-white.png)
              
            &.text-video
              background-image: url(https://thoughtworks.fileburst.com/mythoughtworks/core-images/icons/content-type-text-video-white.png)
            
        a:hover
          color: hover(value.font)
