.group-details
  h2
    text-align: left
  a 
    color: #ee0b77
    text-decoration: none
    cursor: pointer
    -webkit-transition: opacity .2s ease
    -moz-transition: opacity .2s ease
    transition: opacity .2s ease
  
  a:hover
    opacity: .7
    
  ul, li 
    margin: 0
    padding: 0
    
  ul
    list-style-type: none
    margin-left: -1.3em
    li
      list-style: none
      float: left
      margin: 0 0 1.3em 1.3em
      cursor: pointer
      img
        border-radius: 24px
        width: 48px
        
  .group-details__user-label svg
    position: absolute
    font-style: italic
    display: none;