.tab
  width: 100%
  background-color: #00AA5B
  ul
    margin: 0
    padding: 0
    overflow: hidden
    
    li
      margin: 0
      padding: 0
      list-style-type: none
  
  .tab__head
    li
      float: left
      width: 33.333333%
      text-align: center
      cursor: pointer
      padding: 30px 0
      font-weight: 900
      font-size: 1.25em
      line-height: 1.2em
      font-style: italic
      color: #00BCCD
      background-color: #FFF
    
    li.active
      background-color: transparent
      color: #000
  
  .tab__container
    padding: 2%
    width: 96%
    color: #FFF
    font-size: 1.25em
    overflow: hidden
    
    li 
      margin-bottom: 20px;
    a 
      color: #FFF
      text-decoration: none
      
    .tab__container__column
      width: 33.333%
      float: left
    
  