font-stack= "Open Sans", "Microsoft YaHei", "Hiragino Sans GB", "Hiragino Sans GB W3", "Helvetica Neue", Arial, sans-serif
colors = {
  black: #000,
  red: #EE312D,
  tan: #A2785F,
  brown: #603C23,
  orange: #F78F31,
  lime: #B5B935,
  mint: #82B97E,
  green: #11AA58,
  sky: #78CED6,
  teal: #00BCCE,
  blue: #0076C1,
  purple: #6A2569,
  pink: #EF5BA1,
  magenta: #B11C54,
  grey: #808285,
  eeeeee: #eee,
  earth-lite: #FEE0C9,
  earth-mid: #F0BA95,
  earth-dark: #9E785F,
  earth-brown: #5E3E2A,
  yellow: #E1F450,
  light-green: #89B77F,
  lite-blue: #80C9D2,
  mid-blue: #26BDCF,
  dark-blue: #1A73BA
}