font-stack= "Open Sans", "Microsoft YaHei", "Hiragino Sans GB", "Hiragino Sans GB W3", "Helvetica Neue", Arial, sans-serif
colors = {
  black: #000,
  red: #F13127,
  tan: #A2785F,
  brown: #603C23,
  orange: #F88B25,
  lime: #BDBE21,
  mint: #82B97E,
  green: #00AB58,
  sky: #78CED6,
  teal: #00BCCE,
  blue: #0076C1,
  purple: #721F6A,
  pink: #F259A0,
  magenta: #B81957,
  grey: #808184,
  eeeeee: #eee
}