@import '_variables'

.j-placeTitle a
  font-family: font-stack !important
  font-weight: 900
  text-transform: uppercase
  -webkit-font-smoothing: antialiased
  
.j-body-place #jive-body .j-page-header
  background-repeat: no-repeat
  background-size: cover