.j-placeTitle a {
  font-family: "Open Sans", "Microsoft YaHei", "Hiragino Sans GB", "Hiragino Sans GB W3", "Helvetica Neue", Arial, sans-serif !important;
  font-weight: 900;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}
.j-body-place #jive-body .j-page-header {
  background-repeat: no-repeat;
  background-size: cover;
}
